@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

$bgColorPrimary: #0d47a1;
$bgColorSecondary: #5472d3;
$fontColorPrimary: #616161;
$borderRadius: 5px;

.app__container {
  min-height: 500px;
  padding: 25px 10px;

  .search__container {
    background-color: $bgColorPrimary;
    height: 4.5rem;
    border-radius: $borderRadius;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search__item {
    position: relative;
    width: 90%;
    height: inherit;
    display: flex;
    align-items: center;

    &__input,
    &__label,
    &__btn {
      position: absolute;
      font-size: 1.2rem;
      color: $fontColorPrimary;
    }

    &__input {
      width: 100%;
      border-radius: $borderRadius;
      border: none;
      padding: 8px 35px 8px 25px;
    }
    &__label {
      left: 25px;
    }
    &__btn--city-name {
      right: 10px;
      border: none;
      background: none;
    }
    &__btn--location {
      left: 5px;
      border: none;
      background: none;
    }
  }
  .search__item__input:focus
    + .search__item__label
    > .search__item__placeholder {
    opacity: 0;
  }

  // .search-form {
  //   position: relative;
  //   display: flex;
  //   justify-content: flex-start;
  //   align-items: center;
  //   max-width: 100%;
  //   background-color: white;
  //   padding: 10px 15px;
  //   border-radius: $borderRadius;

  //   &__name {
  //     position: absolute;
  //     z-index: 2;
  //     left: 40px;
  //     color: $fontColorPrimary;
  //   }
  //   &__name::before {
  //     position: relative;
  //     left: -5px;
  //     border-left: 1px solid $fontColorPrimary;
  //     content: "";
  //   }
  //   &__input {
  //     position: relative;
  //     left: 30px;
  //     width: 80%;
  //     z-index: 1;
  //     border-radius: 10px;
  //     border: none;
  //     font-size: 1rem;
  //   }
  //   &__btn__search {
  //     position: absolute;
  //     right: 10px;
  //     font-size: 1.5rem;
  //     color: $fontColorPrimary;
  //     z-index: 2;
  //     border: none;
  //     background: none;
  //   }
  //   &__btn__location {
  //     position: absolute;
  //     z-index: 2;
  //     left: 5px;
  //     padding: 5px 7px;
  //     font-size: 1.5rem;
  //     color: $fontColorPrimary;
  //     background: none;
  //     border: none;
  //     border-radius: 5px;
  //   }
  // }

  .current-weather__container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .current-temp {
      &__container {
        width: 100%;
        padding: 20px;
        background-color: $bgColorPrimary;
        border-radius: $borderRadius;
        color: #fff;
        text-align: center;
      }
      &__desc-icons {
        width: 100px;
      }
      &__title {
        text-transform: uppercase;
        margin-bottom: 1rem;
      }

      &__city-name {
        // font-size: 90%;
        font-size: calc(40px + 0.4vw);
      }
      &__temp {
        font-size: 5rem;
      }

      &__items {
        display: flex;
        justify-content: start;
        align-items: center;
      }
      &__base-info {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__detailed-info {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        font-size: 1.2rem;
        margin-top: 1rem;

        .current-temp__icons {
          width: 50px;
          margin-right: 5px;
          font-size: 2rem;
        }
      }
    }

    .hourly-temp {
      margin-top: 2rem;
      &__title {
        font-size: 1.25rem;
        text-transform: uppercase;
        color: $fontColorPrimary;
        text-align: center;
      }
      .hourly-temp__container {
        position: relative;
        margin-top: 20px;
        width: 100%;
        background-color: lightgray;
        border-radius: $borderRadius;

        #hourlyTempChart {
          overflow-y: scroll;
          height: 300px;
          background-color: #eeeeee;
          border-radius: $borderRadius;
        }
      }
    }
  }
  .week-weather {
    &__container {
      margin-top: 2rem;
    }
    &__title {
      font-size: 1.25rem;
      text-transform: uppercase;
      color: $fontColorPrimary;
      text-align: center;
    }
    &__days {
      width: 100%;
      display: flex;
      justify-content: start;
      overflow-y: scroll;
      align-items: center;
      padding: 1rem 0;
    }

    &__item {
      display: flex;
      min-width: 150px;
      min-height: 200px;
      flex-direction: column;
      align-items: center;
      justify-content: spa;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 5px 5px;
      margin: 0 5px;

      &__day {
        color: #fff;
        background-color: darkslategrey;
        border-radius: 5px;
        padding: 5px;
        width: 90%;
        text-align: center;
      }
    }
  }
}
