* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$bgColor: rgb(199, 199, 199);

.app__container {
  background-color: $bgColor;
  min-height: 500px;

  .search-form {
    &__input {
      padding: 0.5rem;
    }
  }
}
